# Python
__pycache__/
*.pyc
*.pyo

# Django
db.sqlite3
media/
static/
staticfiles/

# Virtual Environment
.venv/
venv/
env/

# Environment variables
.env

# Editor settings
.vscode/

# OS files
Thumbs.db
.DS_Store
